
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
<!-- get teacher info from user-->
<form action="/Teacher/Create" method="POST">
    <div>
        <label>First Name:</label><input type="text" name="TeacherFName" />
    </div>
    <div>
        <label>Last Name: </label><input type="text" name="TeacherLName" />
    </div>
    <div>
        <label>Employee Number: </label><input type="text" name="EmployeeNumber" pattern="T\d{3}" />
    </div>
    <div>
        <label>Hire Date: </label><input type="date" name="HireDate" />
    </div>
    <div>
        <label>Salary: </label><input type="text" name="Salary" pattern="\d+(\.\d{2})?" />
    </div>
    <div>
        <input type="submit" value="Add Teacher" />
    </div>


</form>

