@model IEnumerable<Cumulative3.Models.Student>
@{
    ViewBag.Title = "Student List- Web Development";
}

<h2>List of Students</h2>

<form action="/Student/List" method="GET">
    <div>
        <input type="text" name="StudentSearchKey" />
        <input type="submit" value="Search" />
    </div>
</form>

@{
    foreach (Cumulative3.Models.Student Student in Model)
    {
        <div><a href="/Student/Show/@Student.StudentId">@Student.StudentFName @Student.StudentLName</a></div>
    }
}

