@model Cumulative3.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>@Model.StudentFName @Model.StudentLName</h2>
<p>Student Number: @Model.StudentNumber</p>
<p>Date of Enrollment: @Model.EnrolDate</p>

